.calculator-BMR {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f2f2f2c6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 60px 15%;
  text-align: center;
}

.calculator-BMR h2 {
  margin: 24px 0;
  font-size: 2rem;
}

#bmr-calc {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-weight: bold;
  font-size: 1em;
}

.input-gender {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.input-gender label {
  margin-right: 10px;
  font-weight: bold;
}

.genderF,
.genderM {
  margin-right: 5px;
}

.input-weight,
.input-height,
.input-age {
  margin-bottom: 15px;
  width: 100%;
}

.weight,
.height,
.age {
  width: calc(100% - 16px);
  padding: 8px;
  margin: 0 8px;
  box-sizing: border-box;
}

.error {
  color: #c0392b;
  margin-bottom: 10px;
}

.result-BMR,
.result-TDEE {
  font-size: 16px;
  margin-top: 15px;
}

.workout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-workout {
  margin-bottom: 15px;
  width: 100%;
}

.activity {
  width: calc(100% - 16px);
  padding: 8px;
  margin: 0 8px;
  box-sizing: border-box;
}

/* Media Queries */

@media (max-width: 599px) {
  .calculator-BMR {
    margin: 60px 0px 60px 0px;
  }
  .calculator-BMR h2 {
    font-size: 1.5rem;
  }
  #bmr-calc {
    width: 355px;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .calculator-BMR {
    margin: 50px;
  }
}
