.contact {
  height: 50vh;
  border-collapse: collapse;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 40px;
  background-color: #f2f2f2c6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.social-media-icons {
  color: gray;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 40px;
}

.ig,
.linkedin,
.portfolio {
  position: relative;
}

.ig:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top-color: gray;
  display: block;
  z-index: 998;
}

.ig:hover::after {
  content: "Instagram";
  font-size: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 999;
}

.ig:hover::after,
.ig:hover::before {
  display: block;
}

.linkedin:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top-color: gray;
  display: block;
  z-index: 998;
}

.linkedin:hover::after {
  content: "LinkedIn";
  font-size: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 999;
}

.linkedin:hover::after,
.linkedin:hover::before {
  display: block;
}

.portfolio:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top-color: gray;
  display: block;
  z-index: 998;
}

.portfolio:hover::after {
  content: "Portfolio";
  font-size: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 999;
}

.portfolio:hover::after,
.portfolio:hover::before {
  display: block;
}

.ig:hover,
.linkedin:hover,
.portfolio:hover {
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 599px) {
  .contact-things {
    margin: 60px 0px 60px 0px;
  }

  .contact h2 {
    font-size: 1.2rem;
  }

  .contact p {
    font-size: 0.5rem;
  }
}
@media (max-width: 599px) {
  .contact {
    margin: 60px 0px 60px 0px;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .contact {
    margin: 15%;
  }

  .contact h2 {
    font-size: 1.5rem;
  }

  .contact p {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .contact h2 {
    font-size: 2rem;
  }

  .contact p {
    font-size: 1.2rem;
  }
}
