.daily-results {
  border-collapse: collapse;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f2f2f2c6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 60px;
  text-align: center;
}

.search-results2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.table-results {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 620px;
  max-height: 620px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; 
  overflow-x: hidden;
}

.total-score {
  margin-top: auto;
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.col {
  flex: 1;
  padding: 0 10px;
  text-align: center;
}

.col:first-child {
  text-align: left;
}

/* Media Queries */

@media (max-width: 599px) {
  .daily-results {
    margin: 60px 0px 60px 0px;
  }

  .search-results2 h2 {
    font-size: 1.5rem;
  }

  .table-results {
    width: 355px;
  }

  .col {
    flex-basis: 25%;
  }

  .row {
    flex-direction: column;
  }

  .col {
    padding: 5px 0;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .daily-results {
    margin: 50px;
  }

  .table-results {
    padding: 20px;
  }

  .col {
    flex-basis: 20%;
  }
}