.daily-results {
  border-collapse: collapse;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 40px;
  background-color: #f2f2f2c6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 60px;
  text-align: center;
}
.table-results {
  height: 620px;
  width: 400px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}