.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.logo-text {
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.nav-items a {
  cursor: pointer;
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 80px;
}
.nav-items a:hover {
  color: white;
}
.nav-items a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}
.nav-items a:hover::before {
  color: #fff;
  width: 100%;
}