.App {
  text-align: center;
  background-color: slategray;
  height: 100%;
  width: 100%;
}
.appContainer {
  display: flex;
}
.navBar {
  background-color: white;
  display: flex;
  height: 120px;
  width: 100%;
}