.App {
  text-align: center;
  background-color: slategray;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.appContainer {
  display: flex;
}
.navBar {
  background-color: white;
  display: flex;
  height: 164px;
  width: 100%;
}
.homePage {
  background-color: #e1eec7;
}
.calculatorBMR {
  background-color: #e1eec7;
}
.error404 { 
  background-image: url(../images/underConstruction.jpg)
}