.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .App {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
}
.appContainer {
  display: flex;
}
.navBar {
  background-color: white;
  display: flex;
  height: 100px;
  width: 100%;
}
.homePage {
  flex: 1 1 auto;
  flex-flow: column;
  background-color: #e1eec7;
  background-size: contain;
}
.calculatorBMR {
  display: flex;
  flex-flow: column;
  background-color: #e1eec7;
  flex: 1 1 auto;
  align-items: center;
}
.error404 {
  flex: 1 1 auto;
  background-color: #e1eec7;
  display: flex;
  flex-flow: column;
}
.errorError {
  margin-top: 30px;
  background-color: #e1eec7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.errorText {
  display: flex;
  justify-content: center;
}
.contact {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  background-color: #e1eec7;
  width: 100%;
}
.errorImage {
  display: flex;
  width: 500px;
  height: auto;
  margin-left: 485px
}
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
body, #root{
  margin: 0px;
  height: 100%;
  width: 100%;
}
#root {
  display: flex;
  flex-flow: column;
}
.footer {
  position: fixed;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  background-color: white;
  text-align: center;
}
.secondFooter {
  background-color: white;
  height: 30px;
}