.calculatorText {
    padding: 20px;
    font-size: 20px;
}
.form {
    font-size: 15px;
}
.inputGender, .inputWeight, .inputHeight, .inputAge {
    margin-top: 10px;
}
.buttonBMR {
    margin-top: 10px;
    font-size: 18px;
}
.resultBMR { 
    font-size: 30px;
}
.workout {
    font-size: 30px;
}
.inputWorkout {
    font-size: 20px
}
.buttonTDEE {
    font-size: 20px;
}
.resultTDEE {
    font-size: 30px;
}