.caloriesCounter {
  background-color: #e1eec7;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  background-color: white;
  text-align: center;
}
.searcher {
  width: 50%;
  background-color: #e1eec7;
}
.searchField {
  display: flex !important;
  justify-content: center !important;
  background-color: #e1eec7;
}
.carousel {
  height: 79vh;
  width: 50%;
  background-color: #e1eec7;
}
.carousel-root {
  display: flex;
  width: 50%;
}
.carousel-status {
  display: none;
}
.results {
  display: flex;
  flex-flow: column;
}
.clicker {
  height: 30%;
}
.calculator {
  background-color: pink;
}
.control-dots {
  margin: 30px 0;
}
.counter {
  display: flex;
}