.caloriesCounter {
  display: flex;
  flex: 1 1 auto;
  background-color: #e1eec7;
}
.searcher {
  flex: 1 1 auto;
  padding: 20px;
  width: 50%;
  background-color: #e1eec7;
}
.searchField {
  flex: 1 1 auto;
  display: flex !important;
  justify-content: center !important;
  background-color: #e1eec7;
}
.carousel {
  flex: 1 1 auto;
  height: 79vh;
  padding: 20px;
  width: 50%;
  bottom: 10px;
  background-color: #e1eec7;
}
.carousel-root {
  display: flex;
  flex: 1 1 auto;
  margin-top: 10px;
  display: flex;
  width: 50%;
}
.carousel-status {
  flex: 1 1 auto;
  display: none;
}
.results {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}
.clicker {
  height: 30%;
}
.counter {
  flex: 1 1 auto;
  display: flex;
}
.custom-shape-divider-bottom-1680550907 {
  position: fixed;
  left: 0;
  bottom: 120px;
  opacity: 0.8;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1680550907 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 99px;
  transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1680550907 .shape-fill {
  fill: #FFFFFF;
}
.calendarCalories { 
  display: flex;
  flex: 1 1 auto;
  width: 50%;
  flex-flow: column;
  background-color: #e1eec7;
}
.calendarDay {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.react-calendar_navigation {
  display: flex;
  align-items: center;
}
.breakfastResults {
  display: flex;
  flex-flow: column;
  align-items: center;
}