.simpleTextAboutMe {
  padding: 20px;
  display: flex;
  justify-content: center;
  // font-family:
  font-size: 20px;
}
.contactButtons {
  display: flex;
  justify-content: center;
}
.emailText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
}
.emailMessage {
  display: flex;
  flex-flow: column;
  width: 100% auto;
  align-items: center;
}