@import 'variables';

.simpleTextAboutMe {
  @include mainText;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.contactButtons {
  display: flex;
  justify-content: center;
}
.emailText {
  @include mainText;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.emailMessage {
  display: flex;
  flex-flow: column;
  width: 100% auto;
  align-items: center;
}
.CvButton, .LiButton, .GhButton {
  padding: 10px;
}
.contactButton {
  margin-top: 20px;
}