@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.ttf) format("tff");
}

@font-face {
  font-family: "MontserratBold";
  src: url(../fonts/Montserrat-SemiBold.ttf) format("tff");
}

@export Montserrat; 