.custom-shape-divider-bottom-1680550907 {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1680550907 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 99px;
  transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1680550907 .shape-fill {
  fill: #ffffff;
}
