.salad1 { 
    float: right;
    margin-top: -100px;
    width: 40%;
}
.heading1, .heading2 {
    width: 50%;
    display: flex;
    justify-content: center;
}
.vegetables { 
    float: left;
    margin-top: -100px;
    width: 40%;
}
.heading3 {
    width: 50%;
    display: flex;
    justify-content: center;
}