.salad1 { 
    float: right;
    width: 30%;
}
.heading1, .heading2 {
    width: 50%;
    clear: left;
    display: flex;
}
.heading1 {
    margin-top: 100px;
    justify-content: flex-start;
}
.vegetables { 
    float: left;
    margin-top: -100px;
    width: 30%;
}
.heading3 {
    width: 50%;
    display: flex;
    justify-content: center;
}