.buttons {
  text-decoration: none;
  align-items: center;
  width: 1400px;
  height: 100px;
  display: flex;
  justify-content: space-evenly !important;
  font-size: 20px;
  font-style: inherit;
  text-decoration: none;
  color: black;
}
.logo {
  padding: 10px;
  height: 120px;
}
.custom-shape-divider-bottom-1679679246 {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1679679246 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 99px;
  transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1679679246 .shape-fill {
  fill: #e1eec7;
}