@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
.buttons {
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
  display: flex;
  align-items: center;
  justify-content: space-evenly !important;
  width: 70%;
  height: 90px;
  margin-right: 500px;
  font-style: inherit;
  font-family: montserratBold, sans-serif;
  font-weight: 500;
  text-decoration: none !important;
  font-size: 20px;
  color: black;
}
.loginButtons {
  color: black;
  align-items: center;
  width: 30%;
  height: 100px;
  margin-right: 50px;
  display: flex;
  justify-content: space-evenly !important;
  font-size: 20px;
  font-style: inherit;
  text-decoration: none !important;
  display: flex;
  font-family: montserrat, sans-serif;
}
.logo {
  padding: 10px;
  height: 90px;
}
.custom-shape-divider-bottom-1679679246 {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1679679246 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 99px;
  transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1679679246 .shape-fill {
  fill: #e1eec7;
}
a {
  color: black !important;
  text-decoration: none !important;
}